.paginationcontainer {
  display: flex;
  justify-content: center;
}
.pagination {
  display: flex;
  color: #505050;
}
.paginationlist {
  display: flex;
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0;
}
.paginationbutton {
  display: flex;
  height: 50px;
  width: 50px;
  border: 1px solid #777;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.paginationlistitem {
  margin-right: 10px;
}
.paginationlistitem.active {
  background: #505050;
  color: white;
}
.active {
  background: #505050;
  color: white;
}
.paginationgofirst {
  margin-right: 40px;
  position: relative;
  margin-left: 10px;
}
.paginationgofirst:before {
  position: absolute;
  content: '...';
  right: -33px;
}
.paginationgolast {
  margin-left: 40px;
  position: relative;
  margin-right: 10px;
}
.paginationgolast:before {
  position: absolute;
  content: '...';
  left: -33px;
}
