.boxleft {
  width: 325px;
  border-radius: 5px;
  margin-top: 0%;
  height:25.625em;
  box-shadow: 2px 2px 2px 2px #e5eced;
  background-color: #ffffff;
}

.border-photo {
  margin-top: 0em;
  width: 273.2px;
  height: 157.8px;
  border-radius: 8px;
  box-shadow: 2px 11px 14px 14px  #e5eced;
  background-color: #ffffff;

}

 .list-inline{ list-style-type: circle}
/*.list-inline li{display:inline-block;}
.list-inline li:after{content:'|'; margin:0 10px;}

.list-horizontal li {
	display:inline-block;
}

.list-horizontal li:before {
	content: '\00a0\2022\00a0\00a0';
	color:#999;
	color:rgba(0,0,0,0.5);
	font-size:11px;
}

.list-horizontal li:first-child:before {
	content: '';
} */

ul ul, ol ul {
  list-style-type: circle;
}