.menus {
    margin-right: 35px;
    /* margin-top: 45px; */
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #565659;
    /* width: 164px; */
    /* margin-left: 0px; */
    /* position:absolute; */
    text-indent:25px;

 }

 .active {
    /* color: green; */
    margin-top: 45px;
    margin-right: 35px;
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #054ee1;
    width: 390px;
    bottom: -25px;
    text-indent:25px;
    border-bottom:2px solid #054fe1; 
    /* position: absolute; */
}

.title {
    margin-top: 10em;
    height: 26px;
    font-family: 'Nunito Sans';
    font-size: 29px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #055291;
}