/* .registerPage {
  width: 100%;
  height: 100%;
  min-height: 100% !important;
  display: block;
  overflow: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
} */
/* .rectangleCol {
  width:45%;
  position: absolute;
  height: 100%;
  background-color:#155de2;
  /* margin-left: -1%;
  margin-top: -1%; */

 */
 .registerPage {
  width: 1209px;
  height: 768px;
}
.rectangleCol {
  width: 589px;
  height: 780px;
  background-color:#155de2;


}


.WelcometoHighScope {
  width: 430px;
  height: 120px;
  margin-top: 350px;
  margin-left: 80px;
  margin-right: 79px;
  margin-bottom: 268px;
  position: absolute;
  font-family: 'Nunito Sans';
  font-size: 44px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.logo {
  margin-left: 682px;
  margin-top:128px;
  position: absolute;
}

.formPosition {
  margin-left: 687px;
  margin-top:200px;
  position: absolute;
}

.Line {
  width: 360px;
  height: 2px;
  border: solid 1px #165ee2;
}


form {
  width: 360px;
  margin: 45px auto;
}
form h1 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  color: #2196F3;
}
form h5 {
  text-align: center;
  text-transform: uppercase;
  color: #c6c6c6;
}
form hr.sep {
  background: #2196F3;
  box-shadow: none;
  border: none;
  height: 2px;
  width: 25%;
  margin: 0px auto 45px auto;
}
form .emoji {
  font-size: 1.2em;
}


.group {
  position: relative;
  margin: 45px 0;
}

textarea {
  resize: none;
}

.input,
textarea {
background: none;
color: #c6c6c6;
font-size: 18px;
padding: 10px 10px 10px 5px;
display: block;
width: 360px;
border: none;
border-radius: 0;
border-bottom: 1px solid #c6c6c6;
}
.input:focus,
textarea:focus {
outline: none;
}
.input:focus ~ .label, .input:valid ~ .label,
textarea:focus ~ .label,
textarea:valid ~ .label {
top: -14px;
font-size: 12px;
color: #2196F3;

}
.input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
width: 372px;
}

input[type="password"] {
letter-spacing: 0.3em;
}

input[type="date"]{
  color: none
}


::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}



.label {
color: #bdbdbd;
font-size: 16px;
font-weight: normal;
position: absolute;
pointer-events: none;
left: 5px;
top: 10px;
-webkit-transition: 300ms ease all;
transition: 360ms ease all;
}

.bar {
position: relative;
display: block;
width: 360px;
}
.bar:before {
content: '';
height: 2px;
width: 0;
bottom: 0px;
position: absolute;
background: #2196F3;
-webkit-transition: 300ms ease all;
transition: 300ms ease all;
left: 0%;
}

.btn {
  background-image: linear-gradient(72deg, #4086e8, #155de2);
  color: #fffdff;
  border: none;
  border-color: none;
  width: 172px;
  height: 55px;
  font-family: 'Nunito Sans';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.375px;
  padding: 10px 20px;
  border-radius: 3rem;
  border: none;
  padding: 0.8rem 1.2rem;
  letter-spacing: 0.06em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn:xfocus {
  border-color: black unset;
  background-color: #be4732;
}
.HaveanaccountLog {
  width: 120px;
  height: 16px;
  font-family: 'Nunito Sans';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.300000011920929px;
  color: #464646;
}

.textLogin {
  width: 59px;
  height: 18px;
  font-family: 'Nunito Sans';
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #155de2;
}
.haveAccountPosition {
  margin-left: 876px;
  margin-top:450px;
  position: absolute;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

.photoProfile {
  margin-left: 682px;
  margin-top:189px;
  position: absolute;
  box-shadow: 0 3px 15px 0 rgba(200, 206, 209, 0.61);
}
.nameText {
  margin-left: 793px;
  margin-top: 189px;
  width: 33px;
  height: 16px;
  opacity: 0.5;
  font-family: 'Nunito Sans';
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #273d52;
  position: absolute;

}
.nameValueText{
  margin-left: 820px;
  margin-top: 219px;
  width: 200px;
  height: 16px;
  opacity: 0.5;
  font-family: 'Nunito Sans';
  font-size: 17 px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #273d52;
  position: absolute;
}
.subjectText {
  margin-left: 793px;
  margin-top: 267px;
  /* width: 33px; */
  height: 16px;
  opacity: 0.5;
  font-family: 'Nunito Sans';
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #273d52;
  position: absolute;

}
.nameValueText{
  margin-left: 820px;
  margin-top: 219px;
  width: 200px;
  height: 16px;
  opacity: 0.5;
  font-family: 'Nunito Sans';
  font-size: 17 px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #273d52;
  position: absolute;
}
.subjectValueText {
  margin-left: 822.4px;
  margin-top: 297px;
  /* width: 100px; */
  height: 16px;
  opacity: 0.5;
  font-family: 'Nunito Sans';
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #273d52;
  position: absolute;

}


.userIdText {
  margin-left: 793px;
  /* margin-top: 345 */
  width: 41px;
  height: 16px;
  opacity: 0.5;
  font-family: 'Nunito Sans';
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #273d52;
  /* position: absolute; */

}

.userIdValueText {
  margin-left: 822.4px;
  margin-top: 375px;
  /* width: 55px; */
  height: 16px;
  opacity: 0.5;
  font-family: 'Nunito Sans';
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #273d52;
  position: absolute;

}

.makeSureText {
  margin-left: 793px;
  margin-top: 443px;
  width: 235px;
  height: 16px;
  opacity: 0.5;
  font-family: 'Nunito Sans';
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #464646;
  position: absolute;
}
.btnUpdate {
  position: absolute;
  margin-left: 980px;
  margin-top: 492px;
  background-color: #155de2;
  color: #ffffff;
  border: none;
  width: 172px;
  height: 55px;
  font-family: 'Nunito Sans';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.375px;
  padding: 10px 20px;
  border-radius: 3rem;
  border: none;
  padding: 0.8rem 1.2rem;
  letter-spacing: 0.06em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btnBack {
  position: absolute;
  margin-left: 793px;
  margin-top: 492px;
  background-color: #ffffff;
  color: #155de2;
  border:solid 1px #155de2;
  width: 172px;
  height: 55px;
  font-family: 'Nunito Sans';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.375px;
  padding: 10px 20px;
  border-radius: 3rem;
  padding: 0.8rem 1.2rem;
  letter-spacing: 0.06em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

label {
  display: inline-block;
  text-align: right;
  /* width: 30%; */
}

.MessageBox {
  margin-top: 30px;
  margin-left: 60px;
  width: 384px;
  height: 57.5px;
  font-family: 'Nunito Sans';
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #be4732;
}

.MessageBox2 {
  margin-top: -30px;
  margin-left: 60px;
  width: 384px;
  height: 57.5px;
  font-family: 'Nunito Sans';
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #be4732;
}

.btnModalLeft {
  margin-left: 60px;
  width: 170.1px;
  height: 50px;
  border: solid 1.1px #4f7cfe;
  background-color: #ffffff;
  border-radius: 1px;
  font-family: Avenir-Roman;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.87;
  letter-spacing: normal;
  color: #4f7cfe;

}

.btnModalRight {
  margin-left: 80px;
  width: 170.1px;
  height: 50px;
  border: solid 1.1px #4f7cfe;
  background-color: #4f7cfe;
  border-radius: 1px;
  font-family: Avenir-Roman;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.87;
  letter-spacing: normal;
  color: #ffffff;

}

.alert {
  width: 298px;
  height: 72px;
  font-family: 'Nunito Sans';
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.2px;
  color: #d0021b;
}

@media only screen and (min-width:960px){
  /* styles for browsers larger than 960px; */
}
@media only screen and (min-width:1440px){
  /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width:2000px){
  /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width:480px){
 /* styles for mobile browsers smaller than 480px; (iPhone) */
}
@media only screen and (device-width:768px){
 /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
/* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
/* For landscape layouts only */
}

.actives {
  background: #505050;
  color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#bdbdbd;
  opacity: 1; /* Firefox */
}
