body {
    background-color: #f9f9f9 !important;
    width: auto !important;
    height: auto;
}
.dashboardPage {
    width: auto;
}

.navbar {
    width: auto !important;
    height: 100px;
    background-color: #ffffff;
    /* margin-left: 1%; */
}
.logo {
   width: 180px;
   height: 34px;
   margin-top: 40px;
}

.Path {
    margin-left: 235px;
    margin-top: 40px;
    position: absolute;
    width: 55px;
    height: 55px;
    border: solid 0.55px #32bea6;
    border-radius: 50%;
    background-color: #32bea6;


  }

  .swal {
    position: absolute;
    margin-top: 120px;
    margin-left: 60px;
    width: 384px;
    height: 57.5px;
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: none;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #32bea6;
  }


.miniPhoto {
    margin-left: 82%;
    margin-top: -40px;
    position: absolute;
    width: 34px;
    height: 34px;
    border: solid 0.55px #d6d6d6;
    border-radius: 50%;

}

.name {
    margin-left: 85%;
    margin-top: -35px;
    position: absolute;
    /* width: 109px; */
    height: 24px;
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5b5b5e;
    background-color: #ffffff;
  }
  .btn {
    margin: 1rem;
    /* margin-left: 50px; */
    background-color: #155de2;
    color: #fffdff;
    border: none;
    width: 250px;
    height: 40px;
    font-family: 'Nunito Sans';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.375px;
    padding: 10px 20px;
    border-radius: 3rem;
    border: none;
    padding: 0.8rem 1.2rem;
    letter-spacing: 0.06em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .btns{
    margin: 1rem;
    /* margin-left: 50px; */
    background-color: #d43232;
    color: #fffdff;
    border: none;
    width: 250px;
    height: 40px;
    font-family: 'Nunito Sans';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.375px;
    padding: 10px 20px;
    border-radius: 3rem;
    border: none;
    padding: 0.8rem 1.2rem;
    letter-spacing: 0.06em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  
.formGroup {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: -100px;
}
.formGroupDate {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: -115px;
}
.form {
    width: 575px;
    height: 25px;
    border: solid 1px #e9eff4;
    background-color: #ffffff;
}

.label {
    height: 15px;
    margin-bottom: 10px;
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1000000014901161px;
    color: #323c47;
  }

  .menu {
    width: auto;
    height: 20px;
    background-color: #ffffff;
  }
  .menuText {
    position: none;
    margin-left: 543px;
    margin-top: 25px;
    width: 125px;
    height: 16px;
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #054fe1;
  }



.mainContent {
    /* width: 20px; */
    /* height: 110%; */
    background-color: #f9f9f9;
}

.baseBoxLeftUp {
    position: absolute;
    margin-left: 60.5px;
    margin-top: 80.5px;
    width: 354.463134765625px;
    height: 250.5px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
    background-color: #ffffff;
}
.baseBoxLeftBottom {
    position: absolute;
    margin-left: 60.5px;
    margin-top: 390.5px;
    width: 354.463134765625px;
    height: 230px;
    /* box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03); */
    background-color: #ffffff;
  }

.baseBox {
    position: absolute;
    margin-left: 447.5px;
    margin-top: 80.5px;
    width: 800.463134765625px;
    height: 870px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
    background-color: #ffffff;
  }

.groupMenu {
    margin-left: 29.5px;
    margin-top: 34.5px;

}
.label {
  width: 48px;
  height: 15px;
  font-family: 'Nunito Sans';
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1000000014901161px;
  color: #323c47;
}

.inputField {
    width: 575px;
    height: 40px;
    border: solid 1px #e9eff4;
    background-color: #ffffff;
    margin-top: 10px;
}

.labelDate {
    margin-left: -1px;
    height: 15px;
    margin-bottom: 10px;
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1000000014901161px;
    color: #323c47;
  }
  .dateForm{
      width: 200px;
  }

  .MessageBox {
    margin-top: 30px;
    margin-left: 60px;
    width: 384px;
    height: 57.5px;
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #be4732;
    
  }
  
  .MessageBox2 {
    margin-top: -30px;
    margin-left: 60px;
    width: 384px;
    height: 57.5px;
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #be4732;
  }


  /* start here */

.menus {
    margin-right: 35px;
    /* margin-top: 45px; */
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #565659;
    /* width: 164px; */
    /* margin-left: 0px; */
    /* position:absolute; */
    text-indent:25px;

 }

 .lineBorder{
    margin-right: 35px;
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #054ee1;
    border-bottom:2px solid #054fe1;
    text-indent:25px;
} 
  
.headMenu {
      width: 600px;
      margin-left: -150%; 
      margin-top: 5%;
}

.txt {
    margin-top: 14px;
    margin-left: 26px;
    height: 15px;
    font-family: 'Nunito Sans';
    font-size: 15px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #323c47;
  
}
.favBookCol {
    margin-top: 11px;
    margin-left: 20px;
    width: 293px;    
    height: 38px;
    border: solid 1px #e9eff4;
    background-color: #ffffff;
      
}
.textFavBook {
        margin-left: 17px;
        margin-top: 13px;
        height: 19px;
        font-family: 'Nunito Sans';
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #323c47;
}

.totalVisitors {
    margin-left: 30px;
    margin-top: 30px;
    width: 169px;
    height: 15px;
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #323c47;
  }
  .groupVisitor{
      position: absolute;
  }
  .visitorCol {
    position: relative;
    margin-left: 30px;
    margin-top: 13px;
    margin-right: 31px;
    width: 178px;
    height: 53px;
    border: solid 1px #e9eff4;
    background-color: #ffffff;
  }
  .visitorTodayCol {
    position: relative;
    margin-left: 250px;
    margin-top: 13px;
    margin-right: 31px;
    width: 178px;
    height: 53px;
    border: solid 1px #e9eff4;
    background-color: #ffffff;
  }

  .textVisitors {
    width: 111px;
    height: 27px;
    margin-left: 63px;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 33px;
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #4da1ff;
  }

  .textVisitorsToday {
    margin-left: 250px;
    margin-top: 30px;
    width: 169px;
    height: 15px;
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #323c47;
  }

.baseTable {
    margin-top: 250px;
    margin-left: 30px;
    width: 706px;
    height: 364.2px;
    /* border: solid 1px #e9eff4; */
  }

/* profile book */

.bookLogoLocation {
    margin-left: 29px;
    margin-top: 84px; 
    width: 149px;
    height: 187px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
    background-color: #ffffff;
}


.titleBook {
    margin-left: 196px;
    margin-top: -170px;
    margin-bottom: 20px;
    width: 336px;
    /* height: 85px; */
    font-family: 'Nunito Sans';
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #323c47;
}

.infoBook{
    margin-top: -20px;
    margin-left: 196px;
    /* width: 103px; */
    height: 140px;
    font-family: 'Nunito Sans';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #989898;
}

.descBook{
    margin-top: -60px;
    margin-left: 196px;
    /* margin-bottom: 0px; */
    padding-bottom: 10%;
    width: 503px;
    text-align: justify;
    height: 240px;
    font-family: 'Nunito Sans';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #989898;
}

.action {
    position: absolute;
    margin-left: 588px;
    margin-top: -380px;
    /* width: 121px; */
    height: 20px;
    font-family: 'Nunito Sans';
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #155de2;
  
}

.itemText {
    margin-top: -80px;
    margin-left: 29px;
    width: 95px;
    height: 15px;
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: var(--charcoal-grey);
  }

  .baseBoxTable {
    /* position: absolute; */
    margin-left: 25px;
    margin-right: 100px;
    margin-top: 0px;
    width: 700px;
    height: 182.7px;
    border: none;
  }


  /* culumn right book list */

  .category {
    margin-top: 14px;
    margin-left: 25px;
    margin-bottom: 25px;
    /* width: 55px; */
    height: 54px;
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#323c47;
  }

  .customSelect {
      width: 286px !important;
  }
  .customSearchForm {
        display: block;
        margin-left: 25px;
        width: 70%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        /* -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; */
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .btnCustomSearch {
        display: block;
        margin-top: -33.5px;
        margin-left: 280px;
        width: 10%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        /* -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; */
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    }
.arrow {
    margin-left: -7px;
}

.titlePage {
    margin-left: 40%;
    margin-top: -39px;
    margin-bottom: 11px;
    width: 172px;
    height: 26px;
    font-family: 'Nunito Sans';
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #055291;
  }

  /* inventory management */
.mainbox {
    position: absolute;
    margin-left: 70.5px;
    margin-top: 80.5px;
    width: 90%;
    height: 800px;
    margin-bottom: 30px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
    background-color: #ffffff;
}

.btnsrch{
    margin-left: 9px;
    margin-top: 25px;
    width: 350px;
    
}

.searchIcon {
    margin-top: -55px;
    margin-left: 50px;
}

.boxTableInv {
    margin-left: 25px;
    width: 70%px;
    height: 50em;
    max-width: 100%;
    margin-right: 25px;
    /* border: solid 1px #e9eff4; */
}


/*book list */
.titlepageBook {
    margin-top: 29px;
    margin-left: 30px;
    width: 224px;
    height: 16px;
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #323c47;
}

.boxItem {
    display: flex;
    flex-wrap: wrap;
    width: 234px;
    height: 218.5px;
    border: solid 4px rgba(77, 161, 255, 0.07);
    color: #323c47;
  }

  .textTitleItem {
    position: absolute;
    margin-left: 38px;
    margin-top: 30px;
    width: 158px;
    height: 16px;
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #323c47;
  }
.textTitleItemChild {
    position: absolute;
    margin-left: 48px;
    margin-top:50px;
    /* width: 66px; */
    height: 16px;
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #323c47;
}

.textTipeItem {
    position: absolute;
    margin-left: 88px;
    margin-top: 70px;
    /* width: 66px; */
    height: 16px;
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #88889c;
}

.textStatusItem {
    position: absolute;
    margin-left: 95px;
    margin-top: 90px;
    /* width: 66px; */
    height: 16px;
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #60a613;
}
.iconItem {
    margin-left: 86px;
    margin-top: 23px;
    width: 62.2px;
    height: 75px;
    opacity: 0.9;
    border: solid 1.8px #ffffff;
    background-color: #2e92ff;
      
}

/* navbar */
.active {
    /* color: green; */
    margin-top: 45px;
    margin-right: 35px;
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #054ee1;
    width: 390px;
    bottom: -25px;
    text-indent:25px;
    border-bottom:2px solid #054fe1; 
    /* position: absolute; */
}
.lineBorder{
    margin-left: 100px;
    margin-top: 5px;
    border-bottom:2px solid #054fe1;
    width: 150px;
    margin-left: 0px;
    position:absolute;
    text-indent:25px;
} 

.findButton {
    margin-left: 0px;
    
}
.sizeForm {
    width: 250px;
}
.sizeBtn {
    height: 5px;
    border-color: #ffffff
}


.mains {
    width: 700px;
    height: 450px;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}
.mains div {
    width: 207px;
    height: 218.5px;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
    border: solid 1.4px #edf2f6;
}

.mains div p {
    position: absolute;
    /* margin-left: 28px; */
    margin-top: 13px;
    width: 190px;
    height: 30px;
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #323c47;
    /* padding-bottom: 5%; */
    /* padding-bottom: 4cm; */
    text-align: center
}

.mains div h5 {
    position: absolute;
    /* margin-left: 40px; */
    margin-top:56px;
    width: 190px;
    height: 16px;
    padding-top: 2px;
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #323c47;
    text-align: center;
}
.mains div h4 {
    position: absolute;
    /* margin-left: 70px; */
    margin-top: 80px;
    width: 190px;
    height: 16px;
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #88889c;
    text-align: center
}

.mains div h3 {
    position: absolute;
    /* margin-left: 78px; */
    margin-top: 95px;
    width: 190px;
    height: 16px;
    font-family: 'Nunito Sans';
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #60a613;
    text-align: center
}

.mains div img {
    margin-left: 65px;
    margin-top: 10px;
    width: 62.2px;
    height: 75px;
    opacity: 0.9;
    border: solid 1.8px #ffffff;
}

.sizeFormInventory {
    margin-top: 20px;
    width: 300px;
}

.btnPosition {
    margin-left: 30px;
    margin-top:1px;
}
.formSeraching {
    height: 40px;
    margin-top: 1px;
    width: 90px;
    z-index:0px !important
}
.zindex{
    z-index:0px !important
}
form {
    width: 660px !important;
}

.btnPost {
    position: absolute;
    margin-left: 660px;
    margin-top: -30px;
}


/* MODAL RETURN */

.position {
    position: absolute; 
    margin-left: 0px;
    margin-top: -20px;
}

.position img{
    width: 64px;
    height: 84px;
    
}
.position hr {
    width: 472px;
    height: 2px;
    color: solid 2px #979797;
    /* border: solid 1px #979797; */
}

.infoCover {
    position: absolute;
    width: 30em;
    margin-left: 107px;
    margin-top: -20px;
    margin-bottom: 50px;
    
}
.infoCover h5 {
    height: 22px;
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: -0.2px;
    color: #1f1f1f;
}
.infoCover p {
    height: 22px;
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: -0.2px;
    color: #989898;

}
hr {
    width: 472px;
    height: 2px;
    color:solid 1px #979797
}

.data {
    position: absolute; 
    margin-left: 0px;
    margin-top: 90px;
    margin-bottom: 50px;
}

.data p {
    height: 15px;
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #323c47;
}
.data:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    transform: rotate(10deg);
  }

  .inclineline{
    width: 80%;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 5%;
    border-bottom: solid 1px #979797;

}


.nama {
    position: absolute; 
    margin-left: 0px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.nama p {
    height: 15px;
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #323c47;
}
.nama:after {
    content: "";
    width: 100%;
    display: block;
    border-bottom: solid 1px #979797;
  }
  .stts {
    position: absolute; 
    margin-left: 0px;
    margin-top: 210px;
    margin-bottom: 50px;
}

.stts p {
    height: 15px;
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #323c47;
}

.stts:after {
    content: "";
    width: 100%;
    display: block;
    border-bottom: solid 1px #979797;   

}

.fontTable{
    height: 18px;
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4da1ff;
    text-align: center;
}

.valueTable {
        height: 18px;
        font-family: 'Nunito Sans';
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #1f1f1f;
}
.popCol {
    cursor: pointer;
    width: 91.2px;
    height: 18px;
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #155de2;
  }

.page {
    margin-left: 50%
}


/* dropdown */
.dropbtn {
    background-color: #ffffff;
    color: red;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdowncontent {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdowncontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdowncontent a:hover {background-color: #fff;}

.dropdown:hover .dropdowncontent {display: block;}

.dropdown:hover .dropbtn {background-color: #fff;}



.back {
    margin-top: 28px;
    margin-left: 38px;
    width: 66px;
    height: 20px;
    font-family: NunitoSans;
    font-size: 15px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    color: #4a90e2;
  }

  .badgeRed {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: rgb(223, 61, 61);
    border-radius: 10px;
}

.badgeKuning {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #ccce78;
    border-radius: 10px;
}
.badgeHijau {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #0dd459;
    border-radius: 10px;
}

.badgeBiru {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #4d81e9;
    border-radius: 10px;
}


