.announPage {
    width: auto;
}
.navbar {
    width: auto;
    height: 76px;
    background-color: #ffffff;
}
.logo {
   width: 180px;
   height: 34px;
   position: absolute;
}


.miniPhoto {
    margin-left: 1120px;
    margin-top: -40px;
    position: absolute;
    width: 34px;
    height: 34px;
    border: solid 0.55px #d6d6d6;
    border-radius: 50%;
}

.name {
    margin-left: 1170px;
    margin-top: -35px;
    position: absolute;
    width: 109px;
    height: 24px;
    font-family: NunitoSans;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5b5b5e;
  }
  .btn {
    margin: 1rem;
    margin-left: 50px;
    background-color: #155de2;
    color: #fffdff;
    border: none;
    width: 120px;
    font-family: NunitoSans;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.375px;
    padding: 10px 20px;
    border-radius: 3rem;
    border: none;
    padding: 0.8rem 1.2rem;
    letter-spacing: 0.06em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  
.formGroup {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: -100px;
}
.formGroupDate {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: -115px;
}
.form {
    width: 575px;
    height: 25px;
    border: solid 1px #e9eff4;
    background-color: #ffffff;
}

.label {
    height: 15px;
    margin-bottom: 10px;
    font-family: NunitoSans;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1000000014901161px;
    color: #323c47;
  }

  .menu {
    width: 1209px;
    height: 48px;
    background-color: #ffffff;
  }
  .menuText {
    position: none;
    margin-left: 543px;
    margin-top: 2px;
    width: 125px;
    height: 16px;
    font-family: NunitoSans;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #054fe1;
  }

.lineBorder{
    margin-top: 20px;
    border-bottom:2px solid #054fe1;
    width: 164px;
    margin-left: 0px;
    position:absolute;
    text-indent:25px;
} 

.mainContent {
    width: 1367px;
    height: 611px;
    background-color: #f9f9f9;
}

.baseBox {
    position: absolute;
    margin-left: 287.5px;
    margin-top: 80.5px;
    width: 634.463134765625px;
    height: 518.5px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
    background-color: #ffffff;
  }

.groupMenu {
    margin-left: 29.5px;
    margin-top: 34.5px;

}
.label {
  width: 48px;
  height: 15px;
  font-family: NunitoSans;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1000000014901161px;
  color: #323c47;
}

.inputField {
    width: 575px;
    height: 40px;
    border: solid 1px #e9eff4;
    background-color: #ffffff;
    margin-top: 10px;
}

.labelDate {
    margin-left: -1px;
    height: 15px;
    margin-bottom: 10px;
    font-family: NunitoSans;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1000000014901161px;
    color: #323c47;
  }
  .dateForm{
      width: 200px;
  }

  .MessageBox {
    margin-top: 30px;
    margin-left: 60px;
    width: 384px;
    height: 57.5px;
    font-family: NunitoSans;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #be4732;
    
  }
  
  .MessageBox2 {
    margin-top: -30px;
    margin-left: 60px;
    width: 384px;
    height: 57.5px;
    font-family: NunitoSans;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #be4732;
  }