$background_color_1: #7e1919;
$background_color_2: #ffffff;
body{
	.bg{
		background-color: $background_color_1
	}
	h1{
		font-size :50px;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
	 }
}
.container {
	background-color: $background_color_1;
}


