/* GLOBAL */
.margin_1{
    margin: 5px;
}
.margin_2{
    margin: 10px;
}
.margin_3{
    margin: 15px;
}
.margin_4{
    margin: 20px;
}
.margin_5{
    margin: 25px;
}
.margin_6{
    margin: 30px;
}

.margin_top_1{
    margin-top: 5px;
}
.margin_top_2{
    margin-top: 10px;
}
.margin_top_3{
    margin-top: 15px;
}
.margin_top_4{
    margin-top: 20px;
}
.margin_top_5{
    margin-top: 25px;
}
.margin_top_6{
    margin-top: 30px;
}

.margin_bottom_1{
    margin-bottom: 5px;
}
.margin_bottom_2{
    margin-bottom: 10px;
}
.margin_bottom_3{
    margin-bottom: 15px;
}
.margin_bottom_4{
    margin-bottom: 20px;
}
.margin_bottom_5{
    margin-bottom: 25px;
}
.margin_bottom_6{
    margin-bottom: 30px;
}

.margin_left_1{
    margin-left: 5px;
}
.margin_left_2{
    margin-left: 10px;
}
.margin_left_3{
    margin-left: 15px;
}
.margin_left_4{
    margin-left: 20px;
}
.margin_left_5{
    margin-left: 25px;
}
.margin_left_6{
    margin-left: 30px;
}

.margin_right_1{
    margin-right: 5px;
}
.margin_right_2{
    margin-right: 10px;
}
.margin_right_3{
    margin-right: 15px;
}
.margin_right_4{
    margin-right: 20px;
}
.margin_right_5{
    margin-right: 25px;
}
.margin_right_6{
    margin-right: 30px;
}

.text_align_center{
    text-align: center;
}
/*  */

.profilePage {
    width: 1209;
}
.navbar {
    width: 1209px;
    height: 76px;
    background-color: #ffffff;
}
.logo {
   width: 180px;
   height: 34px;
   position: absolute;
}
.mainContent {
   /* width: 1275px; */
   height: 834px;
   margin-left: -5px;
   background-color: #f9f9f9;
}
.box {
    margin-left: 287.5px;
    margin-top: 92.5px;
    margin-right: 287px;
    width: 634.463134765625px;
    height: 682.5px;
    box-shadow: 0 2px 9px 0 rgba(80, 41, 41, 0.03);
    background-color: #ffffff;
    position: absolute;
}

.formGroup {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
    width: 575px;
}
.formGroupDate {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: -0px;
}
.form {
    width: 575px;
    height: 45px;
    /* border: solid 1px #e9eff4; */
    background-color: #ffffff;
}
.formDisc {
    width: 100%;
    height: 45px;
    /* border: solid 1px #e9eff4; */
    background-color: #ffffff;
}

.formDiscAfter {
    width: 85%;
    height: 45px;
    /* border: solid 1px #e9eff4; */
    background-color: #ffffff;
}

.title {
    margin-left: 287px;
    margin-top: 19px;
    width: 120px;
    height: 34px;
    font-family: 'Nunito Sans';
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.7171053px;
    color: #233539;
    position: absolute;
 
}
.form {
    width: 575px;
    height: 25px;
    /* border: solid 1px #e9eff4; */
    background-color: #ffffff;
}
.inputField {
    margin-right: 10px;
    width: 575px;
    height: 25px;
    border: solid 1px #e9eff4;
    background-color: #ffffff;
  }
  .label {
    height: 15px;
    margin-bottom: 10px;
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1000000014901161px;
    color: #323c47;
  }
  .labelDate {
    height: 15px;
    margin-bottom: 10px;
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1000000014901161px;
    color: #323c47;
    margin-left: 0px;
  }
.rangeLabel {
    /* margin-top: 20px; */
    width: 33px;
    height: 15px;
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1000000014901161px;
    color: #323c47;
    position: absolute;
}

.btn {
    margin: 1rem;
    margin-left: 5%;
    width: 240px;
    height: 50px;
    background-image: linear-gradient(78deg, #4086e8, #155de2);
    color: #fffdff;
    border: none;
    font-family: 'Nunito Sans';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.375px;
    padding: 10px 20px;
    border-radius: 3rem;
    /* border: none; */
    padding: 0.8rem 1.2rem;
    letter-spacing: 0.06em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .btnFilter {
    margin: 1rem;
    /* margin-left: 5%; */
    width: 25%;
    height: 18%;
    background-image: linear-gradient(78deg, #4086e8, #155de2);
    color: #fffdff;
    border: none;
    font-family: 'Nunito Sans';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.375px;
    padding: 10px 20px;
    border-radius: 0.5rem;
    /* border: none; */
    padding: 0.8rem 1.2rem;
    letter-spacing: 0.06em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
.range {
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.inputFieldSubject {
    position: absolute;
    margin-top: 45px;
    width: 575px;
    height: 25px;
    border: solid 1px #e9eff4;
    background-color: #ffffff;
  }

  .inputFieldEmail {
    position: absolute;
    margin-top: 5px;
    width: 575px;
    height: 25px;
    border: solid 1px #e9eff4;
    background-color: #ffffff;
  }
.footer {
    margin-top: 0%;
    margin-left: 0px;
    position: absolute;
    width: 255px;
    margin:2em;
}

.MessageBox {
    margin-top: 10px;
    margin-left: 60px;
    width: 384px;
    height: 57.5px;
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #be4732;
  }
  
  .MessageBox2 {
    margin-top: -10px;
    margin-left: 60px;
    width: 384px;
    height: 77.5px;
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: none;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #be4732;
  }
  
  .btnModalLeft {
    margin-left: 60px;
    width: 170.1px;
    height: 50px;
    border: solid 1.1px #4f7cfe;
    background-color: #ffffff;
    border-radius: 1px;
    font-family: Avenir-Roman;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.87;
    letter-spacing: normal;
    color: #4f7cfe;
  
  }
  
  .btnModalRight {
    margin-left: 80px;
    width: 170.1px;
    height: 50px;
    border: solid 1.1px #4f7cfe;
    background-color: #4f7cfe;
    border-radius: 1px;
    font-family: Avenir-Roman;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.87;
    letter-spacing: normal;
    color: #ffffff;
  
  }
  .Path {
    margin-left: 235px;
    margin-top: 40px;
    position: absolute;
    width: 55px;
    height: 55px;
    border: solid 0.55px #32bea6;
    border-radius: 50%;
    background-color: #32bea6;


  }

  .swal {
    position: absolute;
    margin-top: 120px;
    margin-left: 60px;
    width: 384px;
    height: 57.5px;
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-weight: none;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #32bea6;
  }

  /* add book here */
  .boxAddBook {
    margin-left: 25%;
    margin-top: 86.5px;
    margin-right: 243px;
    width: 722.5px;
    height:60em;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
    background-color: #ffffff;
    position: absolute;
}

/* admission */
.admission_content{
    margin-top: 34px;
}
.btn_addmission{
    margin-top: 15px;
    width: 240px;
    height: 50px;
    background-image: linear-gradient(78deg, #4086e8, #155de2);
    color: #fffdff;
    border: none;
    font-family: 'Nunito Sans';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.375px;
    padding: 10px 20px;
    border-radius: 3rem;
    /* border: none; */
    padding: 0.8rem 1.2rem;
    letter-spacing: 0.06em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.admission_input_search{
    border: none;
    width: 320px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.admission_submit{
    width: 100px;
    height: 40px;
    object-fit: contain;
    border-radius: 4px;
    background-color: #054ee1;
    font-family: "Nunito Sans";
    color: #FFF;
}
.border_item_list{
    border-left: 1px solid #e5eced;
    border-right: 1px solid #e5eced;
    border-top: 1px solid #e5eced;
    box-shadow: 0 11px 14px -10px #e5eced;
    background-color: #ffffff;
}
.pict_art{
    width: 69.8px;
    height: 68.4px;
    border-radius: 50%;
}
.admission_profile{
    color: #273d52;
    font-family: 'Nunito Sans';
}
.create_payment{
    background-color: #054ee1;
    border-radius: 4px;
    color: #FFF;
    padding: 10px;
}
.create_payment:hover{
    color: #FFF;
    text-decoration: none;
}
.assessment_border_title{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 2px solid #d8d8d8;
}
.admission_box_item{
    border: 1px solid #e5eced;
    border-radius: 5px;
}
.admission_box_title{
    padding: 10px;
    text-align: center;
}
.background_result{
    background-color: #eff2fb;
}
.background_interview{
    background-color: #effbf5;
}
.background_parent{
    background-color: #fbf9ef;
}
/*  */

.label_header{
    font-size: 25px;
    font-family: 'Nunito Sans';
    color: #273d52;
    letter-spacing: -0.7px;
}
.label_header_content{
    width: 193px;
    height: 30px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.6px;
}
.admission_border{
    margin-top: 58px;
    border-radius: 6px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
    background-color: #ffffff;
    padding: 20px;
}

.admission_border_applicant{
    margin-top: 32px;
    padding: 26px 40px 40px 42px;
}

.selectCustom {
    width: 138px;
    margin-left: -55px;
}
.selectSubject {
    width: 120px;
    margin-left: -25px;
}

.selectCategory {
    width: 92%;
    margin-left: 0px;
}

.customAttach {
    position: relative;
    width: 575px;
    height: 87px;
    border: solid 1px #4da1ff;
    background-color: #ffffff;
    border-style: dashed;
    border-radius: 5px
}

.dropText {
    margin-left: 216px;
    margin-top: 37px;
    width: 135px;
    height: 15px;
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #4da1ff;
  }

  .backgroundPane {
    margin-left: 775px;
    margin-top: 19px;
    width: 182px;
    height: 44px;
    background-color: rgba(233, 239, 244, 0.48);
  }

  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.radioText {
    height: 18px;
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #323c47;
}
